.top-bar {
    border: 1px solid gainsboro
}
.chat-area {
    border: 1px solid gainsboro;
}
.answer {
    font-size: 2.5rem;
    font-weight: bold;
}
.play-area{
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
.body {
    height: calc(100vh - 90px); /* 60px for header + 30px for footer */
}
.container {
    max-width: 100%;
    padding: 3%;
}
.nameBar {
    padding: 10px 0;
}
.rounded-circle {
    object-fit: cover;
}
.userName {
   text-align: left;
    line-height: 15px;
    padding: 10px;
}
.usersProfile {
    padding: 0 10px;
}
.text-align-left {
    text-align: left;
}
